<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="phpunit_autoload.php" cacheResult="false">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="ECommerce-SDK-Tests">
            <directory>packages/ecommerce-sdk/tests</directory>
        </testsuite>
        <testsuite name="Shopware6-SDK-Tests">
            <directory>packages/shopware6-sdk/tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>src</directory>
            <directory>packages/ecommerce-sdk/src</directory>
            <directory>packages/shopware6-sdk/src</directory>
        </include>
    </coverage>
</phpunit>
