<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API settings</title>
        <title lang="de-DE">API Einstellungen</title>

        <input-field type="single-select">
            <name>apiHost</name>
            <label>API Host</label>
            <defaultValue>APIHOST_SANDBOX</defaultValue>
            <options>
                <option>
                    <id>APIHOST_LIVE</id>
                    <name lang="de-DE">Live</name>
                    <name>Live</name>
                </option>
                <option>
                    <id>APIHOST_SANDBOX</id>
                    <name lang="de-DE">Sandbox</name>
                    <name>Sandbox</name>
                </option>
            </options>
        </input-field>

        <input-field type="password">
            <name>apiKey</name>
            <label>API Key</label>
        </input-field>

        <input-field type="password">
            <name>clientSecret</name>
            <label>Client Secret</label>
        </input-field>

        <input-field type="single-select">
            <name>afterCheckoutOrderStatus</name>
            <label>Order State after Checkout</label>
            <label lang="de-DE">Bestellstatus nach Checkout</label>
            <defaultValue>ORDER_STATE_OPEN</defaultValue>
            <options>
                <option>
                    <id>ORDER_STATE_OPEN</id>
                    <name lang="de-DE">Offen</name>
                    <name>Open</name>
                </option>
                <option>
                    <id>ORDER_STATE_CANCELLED</id>
                    <name lang="de-DE">Abgebrochen</name>
                    <name>Cancelled</name>
                </option>
                <option>
                    <id>ORDER_STATE_IN_PROGRESS</id>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name>In Progress</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>afterCheckoutPaymentStatus</name>
            <label>Payment State after Checkout</label>
            <label lang="de-DE">Zahlungsstatus nach Checkout</label>
            <defaultValue>PAYMENT_STATE_OPEN</defaultValue>
            <options>
                <option>
                    <id>PAYMENT_STATE_OPEN</id>
                    <name lang="de-DE">Offen</name>
                    <name>Open</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_CANCELLED</id>
                    <name lang="de-DE">Abgebrochen</name>
                    <name>Cancelled</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_REMINDED</id>
                    <name lang="de-DE">Erinnert</name>
                    <name>Reminded</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_PAID</id>
                    <name lang="de-DE">Bezahlt</name>
                    <name>Paid</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_PAID_PARTIALLY</id>
                    <name lang="de-DE">Teilweise bezahlt</name>
                    <name>Paid (partially)</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_AUTHORIZED</id>
                    <name lang="de-DE">Authorisiert</name>
                    <name>Authorized</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>orderSyncCronJobInterval</name>
            <label>Order Sync CronJob Interval</label>
            <label lang="de-DE">Order Sync CronJob Interval</label>
            <defaultValue>ORDER_SYNC_CRONJOB_INTERVAL_NEVER</defaultValue>
            <options>
                <option>
                    <id>ORDER_SYNC_CRONJOB_INTERVAL_NEVER</id>
                    <name lang="de-DE">Niemals</name>
                    <name>Never</name>
                </option>
                <option>
                    <id>ORDER_SYNC_CRONJOB_INTERVAL_ONCE_EVERY_24_HOURS_AT_MIDNIGHT</id>
                    <name lang="de-DE">Einmal Alle 24 Stunden um Mitternacht</name>
                    <name>Once Every 24 Hours at Midnight</name>
                </option>
                <option>
                    <id>ORDER_SYNC_CRONJOB_INTERVAL_ONCE_EVERY_10_MINUTES</id>
                    <name lang="de-DE">Einmal Alle 10 Minuten</name>
                    <name>Once Every 10 Minutes</name>
                </option>
                <option>
                    <id>ORDER_SYNC_CRONJOB_INTERVAL_ONCE_EVERY_1_MINUTE</id>
                    <name lang="de-DE">Einmal Alle 1 Minute</name>
                    <name>Once Every 1 Minute</name>
                </option>
                <option>
                    <id>ORDER_SYNC_CRONJOB_INTERVAL_ONCE_EVERY_10_SECONDS</id>
                    <name lang="de-DE">Einmal Alle 10 Sekunden</name>
                    <name>Once Every 10 Seconds</name>
                </option>
            </options>
        </input-field>

        
        <input-field type="single-select">
            <name>orderSyncLimit</name>
            <label>Limit for OrderSync since last update</label>
            <label lang="de-DE">Limit für den OrderSync seit dem letzten Update</label>
            <helpText>Only orders updated within this time range will be synced</helpText>
            <helpText lang="de-DE">Nur Bestellungen, die innerhalb dieses Zeitraums aktualisiert wurden, werden synchronisiert</helpText>
            <defaultValue>ORDER_SYNC_LIMIT_THREE_MONTHS</defaultValue>
            <options>
                <option>
                    <id>ORDER_SYNC_LIMIT_ONE_MONTH</id>
                    <name lang="de-DE">1 Monat</name>
                    <name>1 month</name>
                </option>
                <option>
                    <id>ORDER_SYNC_LIMIT_TWO_MONTH</id>
                    <name lang="de-DE">2 Monate</name>
                    <name>2 months</name>
                </option>
                <option>
                    <id>ORDER_SYNC_LIMIT_THREE_MONTHS</id>
                    <name lang="de-DE">3 Monate</name>
                    <name>3 months</name>
                </option>
                <option>
                    <id>ORDER_SYNC_LIMIT_SIX_MONTHS</id>
                    <name lang="de-DE">6 Monate</name>
                    <name>6 Months</name>
                </option>
                <option>
                    <id>ORDER_SYNC_LIMIT_ALL</id>
                    <name lang="de-DE">Kein Limit</name>
                    <name>Sync All</name>
                </option>
            </options>
        </input-field>

        <input-field type="textarea">
            <name>errorMessage</name>
            <label>Errormessage on rejection</label>
            <label lang="de-DE">Fehlermeldung bei Ablehnung</label>
            <helpText>Default: The payment option Buy Now Pay Later is currently not available.</helpText>
            <helpText lang="de-DE">Standardtext: Die Bezahlmethode Kauf auf Rechnung steht aktuell nicht zur Verfügung.</helpText>
        </input-field>

        <component name="sw-entity-single-select">
            <name>precheckControl</name>
            <entity>rule</entity>
            <label>Rule to control the precheck: </label>
            <label lang="de-DE">Regel für Bonitätsprüfung</label>
            <helpText>if rule is true precheck will be skipped/ if false it will be executed</helpText>
            <helpText lang="de-DE">Wenn die Regel zutrifft wird die Bonitätsprüfung übersprungen ansonsten wird sie durchgeführt</helpText>
        </component>

        <component name="credentials-validation-button">
            <name>CredentialsValidationButton</name>
        </component>

    </card>

    <card>
        <title>Refund Settings</title>
        <title lang="de-DE">Gutschrift Einstellungen</title>

            <component name="refresh-fields-button">
                <name>RefreshOrderLineFields</name>
                <label>Custom Field on Line Items for Refund: </label>
                <label lang="de-DE">Custom Field an den Line Items für Gutschrift</label>
                <helpText>Only select if a quantitative field should be used for refunds.</helpText>
                <helpText lang="de-DE">Nur füllen wenn der Refund über ein Quantitatives Custom Field erfolgen soll.</helpText>
            </component>
    </card>

</config>
