<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API settings</title>
        <title lang="de-DE">API Einstellungen</title>

        <input-field>
            <name>apiHost</name>
            <label>API Host</label>
            <defaultValue>https://api-sandbox.axytos.com/</defaultValue>
        </input-field>

        <input-field type="password">
            <name>apiKey</name>
            <label>API Key</label>
        </input-field>

        <input-field type="password">
            <name>clientSecret</name>
            <label>Client Secret</label>
        </input-field>

        <input-field type="single-select">
            <name>afterCheckoutOrderStatus</name>
            <label>Order State after Checkout</label>
            <label lang="de-DE">Bestellstatus nach Checkout</label>
            <defaultValue>ORDER_STATE_OPEN</defaultValue>
            <options>
                <option>
                    <id>ORDER_STATE_OPEN</id>
                    <name lang="de-DE">Offen</name>
                    <name>Open</name>
                </option>
                <option>
                    <id>ORDER_STATE_CANCELLED</id>
                    <name lang="de-DE">Abgebrochen</name>
                    <name>Cancelled</name>
                </option>
                <option>
                    <id>ORDER_STATE_IN_PROGRESS</id>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name>In Progress</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>afterCheckoutPaymentStatus</name>
            <label>Payment State after Checkout</label>
            <label lang="de-DE">Zahlungsstatus nach Checkout</label>
            <defaultValue>PAYMENT_STATE_OPEN</defaultValue>
            <options>
                <option>
                    <id>PAYMENT_STATE_OPEN</id>
                    <name lang="de-DE">Offen</name>
                    <name>Open</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_CANCELLED</id>
                    <name lang="de-DE">Abgebrochen</name>
                    <name>Cancelled</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_REMINDED</id>
                    <name lang="de-DE">Erinnert</name>
                    <name>Reminded</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_PAID</id>
                    <name lang="de-DE">Bezahlt</name>
                    <name>Paid</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_PAID_PARTIALLY</id>
                    <name lang="de-DE">Teilweise bezahlt</name>
                    <name>Paid (partially)</name>
                </option>
                <option>
                    <id>PAYMENT_STATE_AUTHORIZED</id>
                    <name lang="de-DE">Authorisiert</name>
                    <name>Authorized</name>
                </option>
            </options>
        </input-field>

        <input-field type="textarea">
            <name>errorMessage</name>
            <label>Errormessage on rejection</label>
            <label lang="de-DE">Fehlermeldung bei Ablehnung</label>
            <helpText>Default: The payment option Buy Now Pay Later is currently not available.</helpText>
            <helpText lang="de-DE">Standardtext: Die Bezahlmethode Kauf auf Rechnung steht aktuell nicht zur Verfügung.</helpText>
        </input-field>

        <component name="credentials-validation-button">
            <name>CredentialsValidationButton</name>
        </component>
    </card>

</config>
