<div>
    <sw-button-process
        :isLoading="isLoading"
        :processSuccess="isSaveSuccessful"
        @process-finish="saveFinish"
        @click="check"
    >{{ $tc('credentials-validation-button.text') }}</sw-button-process>
</div>